.app-widget-modal-dialog {
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -50;
  display: flex;
  height: 100dvh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0) !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.app-widget-modal-dialog[data-type='slideout'] {
  z-index: 50;
  justify-content: flex-end;
  background-color: transparent;
}
.modal-dialog-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  opacity: 0;
  backdrop-filter: blur(5px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.modal-dialog-content {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0) !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
  position: absolute;
  right: 0;
  z-index: 50;
  height: 100%;
  transform: translate(100%, 0);
  background-color: rgba(241,236,228,1);
  overflow-x: hidden;
  overflow-y: auto;
}
.app-widget-modal-dialog.opened {
  pointer-events: auto;
  visibility: visible;
  z-index: 80;
  opacity: 1;
}
.app-widget-modal-dialog.opened .modal-dialog-overlay {
  opacity: 1;
}
.app-widget-modal-dialog.opened[data-type='slideout'] .modal-dialog-content {
  transform: translate(0, 0);
}
.modal-dialog-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  z-index: 80;
  background-color: rgba(241,236,228,1);
}
.close-modal-dialog-button {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  color: var( --global-color-primary );
}
.app-element.app-element-modal-bio-heading .app-heading-title,
.app-element-modal-bio-name .app-heading-title {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
}
.app-home .app-element.app-element-modal-bio-section {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:1.5rem 0 0 0;
}
.app-home .app-element.app-element-modal-bio-section > .app-container > .app-column > .app-widget-wrap {
  align-content:center;
  align-items:center;
}
.app-home .app-element.app-element-modal-bio-content > .app-element-populated {
  margin:0;
  --column-margin-right:0px;
  --column-margin-left:0px;
  padding:0 1.5rem 0 1.5rem;
}
.app-element.app-element-modal-bio-image {
  text-align: left;
  max-width: 100px;
}
.app-element-modal-bio-name {
  padding-left: 10px;
}
.app-element-bio-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.app-element-bio-info .bio-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bio-details .bio-details-title {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
}
.bio-details .bio-details-meta {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-text-font-weight );
}
/* ========================== Media ========================================*/
@media (min-width: 768px) {
  .app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
    width: 362px;
  }
  .modal-dialog-header {
    padding: 1.5rem;
  }
}
@media(max-width:1024px) {
  .app-home .app-element.app-element-sidebar-heading .app-heading-title,
  .app-element-modal-bio-name .app-heading-title,
  .bio-details .bio-details-title,
  .bio-details .bio-details-meta {
    font-size:var( --global-typography-accent-font-size );
  }
}
/*=================================================== 767 ====================================================*/
@media (max-width: 767px) {

  .app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
    bottom: 0;
    right: auto;
    height: fit-content;
    max-height: 90dvh;
    transform: translate(0, 100%)
  }
  .app-home .app-element.app-element-sidebar-heading .app-heading-title,
  .app-element-modal-bio-name .app-heading-title,
  .bio-details .bio-details-title,
  .bio-details .bio-details-meta {
    font-size:var( --global-typography-accent-font-size );
  }
}
