<div class="app app-home page-top">
  <!-- Hero -->
  <section class="app-section app-element app-element-hero-top-section app-section-boxed">
    <!-- Overlay -->
    <div class="app-background-overlay"></div>
    <div class="app-container app-column-gap-default">
      <div class="app-element app-element-no-padding app-column app-col-100">
        <div class="app-widget-wrap app-element-populated">
          <!-- Heading -->
          <div class="app-element app-element-hero-top-section-heading app-widget app-widget-heading">
            <div class="app-widget-container">
              <h2 class="app-heading-title">Product Detail</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  Product section -->
  <section class="app-element app-element-product-details-section app-section elementor-section-boxed">
    <div class="app-container app-column-gap-default">
      <!-- Product gallery -->
      <div
        #gallery
        appObserveElement
        #intersection="intersection"
        [isContinuous]="false"
        (isIntersecting)="isIntersecting($event, gallery)"
        [ngClass]="{animated: intersection._isIntersecting, fadeInLeft: intersection._isIntersecting}"
        class="app-column app-element app-element-product-gallery-wrap app-col-50 animated-slow app-invisible">

        @if (thumbnails.length > 0) {
          <!-- With Swiper -->
          <div class="app-widget-wrap app-element-populated a-swiper-container">
            <div class="app-element app-element-product-details-gallery app-arrows-position-inside app-widget app-widget-image-carousel a-widget-swiper">
              <div class="app-widget-container">
                <!-- Swiper container -->
                <div class="app-image-carousel-wrapper swiper-container">
                  <!-- Slides -->
                  <div class="app-image-carousel swiper-wrapper">
                    @for (slide of thumbnails; track $index) {

                      <!-- Slide -->
                      <div class="swiper-slide">
                        <a
                          [class.zoom-in]="zoomed"
                          (click)="onZoomedClick($event)"
                          (mouseleave)="onMouseLeave($event)"
                          (mousemove)="onMouseMove($event)"
                          class="product-gallery-zoomable-item">
                          <figure class="swiper-slide-inner">
                            <img
                              class="swiper-slide-image"
                              [src]="slide"
                              alt="{{ product?.name }}"
                              decoding="async">
                          </figure>
                        </a>
                      </div>

                    }

                  </div>
                  <!-- Navigation -->
                  <div class="swiper-pagination"></div>
                  <!--  Buttons -->
                  <div class="app-swiper-button app-swiper-button-prev"><i aria-hidden="true" class="eicon-chevron-left"></i></div>
                  <div class="app-swiper-button app-swiper-button-next"><i aria-hidden="true" class="eicon-chevron-right"></i></div>
                </div>
                @if (product && product.model) {
                  <!-- Button Model bio -->
                  <div
                    (click)="showModalBio()"
                    class="button-blur button-small"
                    role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 16 16" fill="none" role="img" aria-labelledby="title-icon-plus-outline">
                      <title id="title-icon-plus-outline">Icon of plus outline</title>
                      <g id="icon-plus-outline">
                        <path d="M2.5 8H13.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 2.5V13.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                      </g>
                    </svg>
                    Model Bio
                  </div>
                }
              </div>
            </div>
          </div>

        } @else {
          <div class="app-widget-wrap app-element-populated">
            <div class="app-element app-element-product-details-gallery app-widget app-widget-jkit_post_featured_image">
              <div class="app-widget-container">
                <div class="jeg-app-kit jkit-post-featured-image">
                  <div class="post-featured-image">
                    <img
                      class="ap-post-image"
                      [src]="product?.image"
                      alt="{{ product?.name }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

      </div>
      <!-- Product Details -->
      <div
        #details
        appObserveElement
        #intersection2="intersection"
        [isContinuous]="false"
        (isIntersecting)="isIntersecting($event, details)"
        [ngClass]="{animated: intersection2._isIntersecting, fadeInRight: intersection2._isIntersecting}"
        class="app-element app-element-product-details-inner-section app-column app-col-50 animated-slow animated app-invisible"
        data-element_type="column">

        <div class="app-widget-wrap app-element-populated">
          <!-- Title -->
          <div class="app-element app-widget-jkit_post_title_traditional app-widget">
            <div class="app-widget-container">
              <div class="jeg-app-kit jkit-post-title">
                <h2 class="post-title style-color">{{ product?.name }}</h2>
              </div>
            </div>
          </div>
          <!-- Rating Stars -->
          <div class="app-element app-widget app-widget-star-rating-traditional app--star-style-star_unicode">
            <div class="app-widget-container">
              <div class="app-star-rating__wrapper">
                <div class="app-star-rating" title="4.5/5">
                  <i class="app-star-full">★</i>
                  <i class="app-star-full">★</i>
                  <i class="app-star-full">★</i>
                  <i class="app-star-full">★</i>
                  <i class="app-star-5">★</i>
                  <span class="app-screen-only">4.5/5</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Payment text -->
          <div class="app-element app-widget elementor-widget-text-editor">
            <div class="app-widget-container">
              Buy now from $18.75 per fortnight.
              <a
                (click)="showModalPayLater()"
                class="ap-element-button prompt-button" tabindex="-1"><strong>See options</strong></a>
            </div>
          </div>
          <!-- Category Icon List -->
          <div class="app-element app-icon-list--layout-traditional app-list-item-link-full_width app-widget app-widget-icon-list">
            <div class="app-widget-container">
              <ul class="app-icon-list-items">
                <li class="app-icon-list-item"><span class="app-icon-list-text">Categories : {{ product?.category?.name }}</span></li>
              </ul>
            </div>
          </div>
          <!-- Share Label -->
          <div class="app-element app-element-label-traditional app-widget__width-auto app-widget-mobile__width-auto app-widget-tablet__width-auto app-widget app-widget-text-editor">
            <div class="app-widget-container">Share :</div>
          </div>
          <!-- Share Icon List -->
          <div class="app-element app-widget-jkit_social_share_traditional app-widget__width-auto app-widget-mobile__width-auto jkit-social-shape shape-none app-widget">
            <div class="app-widget-container">
              <div class="jeg-app-kit jkit-social-share">
                <ul class="social-share-list">
                  <li class="appr-repeater-item">
                    <a class="facebook social-icon"><i aria-hidden="true" class="jki jki-facebook-light"></i></a>
                  </li>
                  <li class="appr-repeater-item">
                    <a class="twitter social-icon"><i aria-hidden="true" class="jki jki-twitter-light"></i></a>
                  </li>
                  <li class="appr-repeater-item">
                    <a class="whatsapp social-icon"><i aria-hidden="true" class="jki jki-whatsapp-1-light"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--  Find in store Button -->
          <div class="app-element app-element-button-icon-beige app-widget app-widget-button">
            <div class="app-widget-container">
              <div class="app-button-wrapper">
                <a
                  (click)="showModalFindInStore()"
                  class="app-button">
                  <span class="app-button-content-wrapper">
                    <span class="i-icon"><i aria-hidden="true" class="fas fa-map-marker-alt"></i></span>
                    <span class="app-button-text">Find in store</span>
                  </span>
                  <span><i aria-hidden="true" class=" icon icon-chevron-right"></i></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Tabs -->
          <div class="app-element app-widget-jkit_tabs app-widget app-widget-jkit_tabs">
            <div class="app-widget-container">
              <div class="jeg-app-kit jkit-tabs layout-horizontal">
                <!-- Tab Navigation -->
                <div class="tab-navigation">
                  <ul class="tab-nav-list">
                    <!-- Tab Nav Description -->
                    <li
                      class="tab-nav"
                      [class.active]="tabDescActive"
                      (click)="toggleTab(0)">
                      <span class="tab-title">Description</span>
                      <!-- If you want add some info -->
                      <div class="tab-content">
                        <div class="tab-description"></div>
                      </div>
                    </li>
                    <!-- Tab Nav Additional Info -->
                    <li
                      class="tab-nav"
                      [class.active]="tabAdditionalInfoActive"
                      (click)="toggleTab(1)">
                      <span class="tab-title">Additional Information</span>
                      <!-- If you want add some info -->
                      <div class="tab-content">
                        <div class="tab-description"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- Tabs -->
                <div class="tab-content-list">
                  <!-- Description -->
                  <div
                    class="tab-content"
                    [class.active]="tabDescActive">
                    <!-- Tab section Ajax for information -->
                    <div class="app app-home">
                      <!-- Description -->
                      <section class="app-section app-element app-section-boxed">
                        <div class="app-container app-column-gap-default">
                          <div class="app-element app-element-no-padding app-column app-col-100">
                            <div class="app-widget-wrap app-element-populated">
                              <!-- Icon List Example -->
                              <div class="app-element app-element-default-icon-list list-styled app-icon-list--layout-traditional app-list-item-link-full_width app-widget app-widget-icon-list">
                                <div class="app-widget-container">
                                  <ul class="app-icon-list-items">
                                    <!-- List Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-icon"><i aria-hidden="true" class="fas fa-circle"></i></span>
                                      <span class="app-icon-list-text">Bombshell add-2-cups push-up padding</span>
                                    </li>
                                    <!-- List Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-icon"><i aria-hidden="true" class="fas fa-circle"></i></span>
                                      <span class="app-icon-list-text">Underwire</span>
                                    </li>
                                    <!-- List Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-icon"><i aria-hidden="true" class="fas fa-circle"></i></span>
                                      <span class="app-icon-list-text">Adjustable straps</span>
                                    </li>
                                    <!-- List Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-icon"><i aria-hidden="true" class="fas fa-circle"></i></span>
                                      <span class="app-icon-list-text">Keyhole back</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <!-- Product form -->
                      <app-product-form [productType]="product?.type"
                                        (openSizeGuide)="onOpenSizeGuideClick()"
                                        (addedToBag)="addToBag()"></app-product-form>
                    </div>
                  </div>
                  <!-- Additional Info -->
                  <div
                    class="tab-content"
                    [class.active]="tabAdditionalInfoActive">

                    <div class="app app-home">
                      <section class="app-section app-element app-section-boxed">
                        <div class="app-container app-column-gap-default">
                          <div class="app-element app-element-no-padding app-column app-col-100">
                            <div class="app-widget-wrap app-element-populated">
                              <!-- Text Icon List -->
                              <div class="app-element app-element-text-icon-list app-widget__width-auto app-icon-list--layout-traditional app-list-item-link-full_width app-widget app-widget-icon-list">
                                <div class="app-widget-container">
                                  <ul class="app-icon-list-items">
                                    <!-- Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-text">Composition :</span>
                                    </li>
                                    <!-- Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-text">Cup Lining :</span>
                                    </li>
                                    <!-- Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-text">Cup Lace :</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <!-- Text Icon List -->
                              <div class="app-element app-element-text-icon-list align-right app-widget__width-auto app-icon-list--layout-traditional app-list-item-link-full_width app-widget app-widget-icon-list">
                                <div class="app-widget-container">
                                  <ul class="app-icon-list-items">
                                    <!-- Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-text">82% polyamide, 18% elastane</span>
                                    </li>
                                    <!-- Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-text">100% polyamide</span>
                                    </li>
                                    <!-- Item -->
                                    <li class="app-icon-list-item">
                                      <span class="app-icon-list-text">100% polyester</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  Modal Bio Modal dialog -->
  @if (product && product.model) {

    <app-modal-bio
      (bioClosed)="closeModalBio()"
      [bioImg]="product.model.photo"
      [bioName]="product.model.name"
      [bioHeight]="product.model.height"
      [bioBust]="product.model.bust"
      [bioWaist]="product.model.waist"
      [bioHips]="product.model.hips"
      [bioDress]="product.model.dress"
      [opened]="bioOpened"></app-modal-bio>
  }
  <!-- Modal Pay Later dialog -->
  <app-modal-pay-later
    (payLaterClosed)="closeModalPayLater()"
    [opened]="payLaterOpened"></app-modal-pay-later>
  <!--  Madal Find In store -->
  <app-find-in-store
    (findInStoreClosed)="closeModalFindInStore()"
    (openSizeGuide)="onOpenSizeGuideClick()"
  [opened]="findInStoreOpened"
  [productType]="product?.type"></app-find-in-store>
</div>
