.app-element.app-element-product-form-container > .app-element-populated {
  padding: 0;
  margin: 20px 0 0 0;
}
.app-element.app-element-product-form-table > .app-widget-container {
  display: flex;
  flex-direction: column;
}
.app-element.app-element-product-form-table:not(:last-of-type) > .app-widget-container {
  margin-bottom: .75rem;
}
.app-element.app-element-product-form-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
  margin-bottom: .75rem;
}
.app-element.app-element-product-form-table-grid {
  --grid-column-gap: .25rem;
  --grid-row-gap: .25rem;
}

.size-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: .25rem;
  border: 1px solid rgba(0,0,0,.08);
  cursor: pointer;
}
.size-item.border-black {
  border-color: rgba(0,0,0,1) !important;
}
.size-item span {
  font-size: var(--global-typography-accent-font-size);
  line-height: 20px;
}
.text-error-message {
  color: rgba(234,33,33,1);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inconsolata", sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
  padding-bottom: 0.75rem;
  display: inline-block;
}
.app-element.app-element-add-to-bag-button .app-button {
  font-family: "Palanquin",  sans-serif;
  font-weight: 500;
  font-size: 14px;
  fill: var( --global-color-bbd710c );
  color: var( --global-color-bbd710c );
  text-transform: uppercase;
  background-color: #720917;
  border-style: solid;
  border-width: 1px;
  border-color: #720917;
  border-radius: 0;
  padding: 18px;
  width: 100%;
}
.app-element.app-element-add-to-bag-button .app-button:hover {
  border-color: #8f0b1d;
  background-color: #8f0b1d;
}
.app-element.app-element-add-to-bag-button.disabled .app-button {
  pointer-events: none;
  border-color: transparent;
  background-color: rgba(114, 9, 23, 0.32);
  color: rgba(114, 9, 23, 0.32);
}
.app-element.app-element-add-to-bag-button .app-widget-container {
  margin: 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .app-element.app-element-product-form-table-header {
    font-size:var( --global-typography-accent-font-size );
  }
}
@media (max-width: 767px) {
  .app-element.app-element-product-form-table-header {
    font-size:var( --global-typography-accent-font-size );
  }
  .size-item {
    height: 2rem;
  }
}
