.app-element-instagram-feeds-section {
  background-color: rgba(233,227,218,1);
}
.app-element.app-element-instagram-feeds-heading {
  padding: 1.5rem 1rem;
  margin: 0!important;
}
.app-element.app-element-instagram-feeds-heading .app-heading-title {
  color: var(--global-color-primary);
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
  letter-spacing: 1px;
  line-height: 20px;
}
.instagram-feeds-timeline {
  width: 100%;
  --image-carousel-slides-to-show:5;
}
/*==================================== Media ==========================================*/
@media (min-width: 1024px) {
  .app-element.app-element-instagram-feeds-heading {
    padding: 1.5rem;
  }
}
