.app .app-element.app-element-about-hero > .app-container {
  max-width:1280px;
}
.app .app-element.app-element-about-hero:not(.app-motion-effects-element-type-background),
.app .app-element.app-element-about-hero > .app-motion-effects-container > .app-motion-effects-layer {
  background-image:url("/assets/images/caucasian-woman.jpg");
  background-position:center center;
  background-size:cover;
}
.app .app-element.app-element-about-hero > .app-background-overlay {
  background-color:#000000;
  opacity:0.31;
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.app .app-element.app-element-about-hero {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:180px 0 120px 0;
}
