@font-face {
  font-family: 'Metropolis Regular';
  src: url('../../../assets/fonts/metropolis/Metropolis-Regular.otf') format('opentype');
}
.cookie-widget {
  font-family: 'Metropolis Regular', sans-serif;
}
.cookie-widget {
  bottom:0;
  hyphens:auto;
  position:fixed;
  text-align:center;
  width:100%;
  z-index:99999999;
  opacity: 0;
  height: 0;
  transition: all .4s ease-in-out;
  transform: translateY(100%);
}
.cookie-widget.active {
  opacity: 1;
  height: auto;
  transform: translateY(0);
}
.cookie-widget-text-editor {
  text-align: left;
}
.cw-window {
  bottom:0;
  position:fixed;
  text-align:center;
  width:100%;
  z-index:99999999;
}
.cookie-widget > .cw-window {
  background-color: rgb(247, 247, 247);
  color: rgb(48, 48, 48);
  font-size: 16px;
}
.cw-window > .cookieconsent-wrapper {
  align-items:center;
  display:flex;
  justify-content:space-between;
  padding:1em 1.8em;
  width:100%
}
.cc-window.has-box-shadow {
  box-shadow:0 0 20px rgba(0,0,0,.1)
}
.cc-window:not(.has-box-shadow).cc-bottom {
  border-top:1px solid rgba(0,0,0,.15)
}
.cc-window:not(.has-box-shadow).cc-top {
  border-bottom:1px solid rgba(0,0,0,.15)
}
@media(max-width:678px) {
  .cc-window:not(.has-box-shadow).cc-bottom,
  .cc-window:not(.has-box-shadow).cc-top {
    border:1px solid rgba(0,0,0,.15)
  }
  .cc-window.has-box-shadow {
    border:none
  }
}
.cc-settings-dialog.classic .cc-btn-cookie-info-container:focus svg,
.cc-window * [tabindex]:focus,
.cc-window input:focus~.accept-container,
.cc-window input:focus~.reject-container {
  box-shadow:0 0 0 3px #159ce4;
  outline:none;
  text-decoration:none!important;
  transform:scale(1.06);
  transition:all .3s ease
}
.cc-settings-dialog .cc-consent-verification a,
.isense-cc-settings-dialog .isense-cc-consent-verification a {
  color:inherit!important;
  font-size:11px!important;
  font-weight:700!important;
  text-decoration:underline!important
}
.cc-window,
.cc-window:focus,
.isense-cc-window,
.isense-cc-window:focus {
  box-shadow:none;
  transform:unset
}
.cc-btn-cookie-info-container:focus {
  box-shadow:unset!important
}
.cc-settings-dialog a:focus,
.cc-settings-dialog button:focus,
.cc-settings-dialog input:focus+.cc-checkbox,
.cc-settings-dialog.default .cc-btn-cookie-info-container:focus svg,
.cc-settings-dialog.dialog .cc-btn-cookie-info-container:focus svg,
.cc-settings-dialog.modern .cc-btn-cookie-info-container:focus svg,
.cc-window a:focus,
.cc-window button:focus,
.classic-switch input:focus~span.csm-slider,
.csm-cookie-box a:focus,
.csm-cookie-box button:focus,
.csm-cookie-box input:focus+.cc-checkbox,
.csm-dialog a:focus,
.csm-dialog button:focus,
.csm-dialog input:focus+.cc-checkbox,
.csm-dialog-switch input:focus~span.csm-slider,
.isense-cc-settings-dialog a:focus,
.isense-cc-settings-dialog button:focus,
.isense-cc-settings-dialog input:focus+.isense-cc-checkbox,
.isense-cc-settings-dialog.default .isense-cc-btn-cookie-info-container:focus svg,
.isense-cc-settings-dialog.dialog .isense-cc-btn-cookie-info-container:focus svg,
.isense-cc-settings-dialog.modern .isense-cc-btn-cookie-info-container:focus svg,
.isense-cc-window a:focus,
.isense-cc-window button:focus,
.isense-classic-switch input:focus~span.csm-slider,
.isense-close-icon:focus,
.isense-modern-switch-container input:focus~.isense-accept-container,
.isense-modern-switch-container input:focus~.isense-reject-container,
.modern-switch-container input:focus~.accept-container,
.modern-switch-container input:focus~.reject-container {
  box-shadow:0 0 0 3px #159ce4;
  outline:0;
  text-decoration:none!important;
  transform:scale(1.06);
  transition:.3s
}
.cc-checkbox-container label,
.cc-cookie-category-text,
.cc-message,
.cookie-settings-header,
.cookie-settings-section-paragraph {
  color:inherit
}
.cookie-widget-text-editor .isense-cc-message {
  color: inherit;
  margin: unset;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
.cc-link {
  cursor:pointer;
  color: inherit;
  display: inline-block;
  opacity: .8;
  padding: .2em;
  font-size: 14px!important;
  line-height: 20px;
}
.cc-buttons-wrapper {
  align-content:center;
  align-items:stretch;
  column-gap:.5rem;
  display:flex;
  flex: 0 0 auto;
}
.cc-btn {
  appearance: button;
  border-radius: 3px!important;
  border-style: solid;
  border-width: 2px!important;
  border-color: #303030!important;
  background-color:#303030!important;
  color: #ffffff!important;
  display: block;
  font-family: 'Metropolis Regular', sans-serif!important;
  font-size: 14px!important;
  font-weight: 400;
  height: auto;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  min-height: 40px;
  padding: .4em .8em!important;
  text-align: center;
  text-decoration: none;
  transition: .2s ease-in-out!important;
  white-space: wrap;
}
.cc-btn:hover {
  background-color:#565656!important;
}
.cc-btn:focus,
.cc-btn:active {
  outline:none;
  box-shadow: none!important;
}
@media(max-width:1025px) {

  .cw-window > .cookieconsent-wrapper {
    flex-direction:column
  }
  .cc-buttons-wrapper {
    margin-top:12px;
    width:100%
  }
}
@media(min-width:1026px) {
  .cw-window > .cookieconsent-wrapper {
    gap:1.375rem
  }
}
