.app-widget-modal-dialog {
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -50;
  display: flex;
  height: 100dvh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0) !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.app-widget-modal-dialog[data-type='slideout'] {
  z-index: 50;
  justify-content: flex-end;
  background-color: transparent;
}
.modal-dialog-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  opacity: 0;
  backdrop-filter: blur(5px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.modal-dialog-content {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0) !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
  position: absolute;
  right: 0;
  z-index: 50;
  height: 100%;
  transform: translate(100%, 0);
  background-color: rgba(241,236,228,1);
  overflow-x: hidden;
  overflow-y: auto;
}
.app-widget-modal-dialog.opened {
  pointer-events: auto;
  visibility: visible;
  z-index: 80;
  opacity: 1;
}
.app-widget-modal-dialog.opened .modal-dialog-overlay {
  opacity: 1;
}
.app-widget-modal-dialog.opened[data-type='slideout'] .modal-dialog-content {
  transform: translate(0, 0);
}
.modal-dialog-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  z-index: 80;
  background-color: rgba(241,236,228,1);
}
.close-modal-dialog-button {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  color: var( --global-color-primary );
}
.app-element.app-element-modal-heading-traditional .app-heading-title {
  color:var( --global-color-primary );
  font-family:var( --global-typography-accent-font-family ), sans-serif;
  font-size:var( --global-typography-accent-font-size );
  font-weight:var( --global-typography-accent-font-weight );
  text-transform:var( --global-typography-fc0661c-text-transform );
}
.app-home .app-element.app-element-modal-section {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:1.5rem 0 0 0;
}
.app-home .app-element.app-element-modal-section > .app-container > .app-column > .app-widget-wrap {
  align-content:center;
  align-items:center;
}
.app-home .app-element.app-element-modal-inner-content > .app-element-populated {
  margin:0;
  --column-margin-right:0px;
  --column-margin-left:0px;
  padding:0 1.5rem 0 1.5rem;
}
/* ========================== Media ========================================*/
@media (min-width: 768px) {
  .app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
    width: 362px;
  }
  .app-widget-modal-dialog[data-type='slideout'].modal-dialog-mini-cart .modal-dialog-content {
    width: 478px;
  }
  .modal-dialog-header {
    padding: 1.5rem;
  }
}
@media(max-width:1024px) {
  .app-home .app-element.app-element-sidebar-heading .app-heading-title {
    font-size:var( --global-typography-accent-font-size );
  }
  .app-element.app-element-modal-heading-traditional .app-heading-title {
    font-size:var( --global-typography-accent-font-size );
  }
}
/*=================================================== 767 ====================================================*/
@media (max-width: 767px) {

  .app-widget-modal-dialog[data-type='slideout'].modal-dialog-mini-cart .modal-dialog-content,
  .app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
    width: 340px;
  }

  .app-element.app-element-modal-heading-traditional .app-heading-title {
    font-size:var( --global-typography-accent-font-size );
  }
  .modal-dialog-header {
    padding: .75rem;
  }
  .app-home .app-element.app-element-modal-inner-content > .app-element-populated {
    margin: 0;
    --column-margin-right: 0px;
    --column-margin-left: 0px;
    padding: 0 .75rem 0 .75rem;
  }
  .app-element-free-shipping-progress-heading i {
    margin-left: .75rem;
  }
}
@media (max-width: 340px) {
  .app-widget-modal-dialog[data-type='slideout'].modal-dialog-mini-cart .modal-dialog-content,
  .app-widget-modal-dialog[data-type='slideout'] .modal-dialog-content {
    width: 100%;
  }
}
.basic-modal-wrapper {
  display: flex;
  align-items: flex-end;
  opacity: 0;
  /*height: 0;*/
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
  background-color: rgba(0,0,0,.6);
  transform: scale(0);
  transition-duration: 0.3s;
  transition-property: opacity, transform, height;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
}
.basic-modal-wrapper.opened {
  opacity: 1;
  transform: scale(1);
}
.basic-modal-window {
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow: hidden;
  border: 1px solid rgb(211,204,193);
  border-radius: 12px;
  background-color: rgb(241, 236, 228);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px -0.5px,
  rgba(0, 0, 0, 0.08) 0px 2px 4px -1px,
  rgba(0, 0, 0, 0.08) 0px 3px 6px -1.5px,
  rgba(0, 0, 0, 0.06) 0px 8px 16px -6px,
  rgba(0, 0, 0, 0.06) 0px 24px 40px -12px,
  rgba(0, 0, 0, 0.06) 0px 32px 48px -12px,
  rgba(0, 0, 0, 0.09) 0px -0.5px 1.5px 0px;
  color: rgb(0, 0, 0);
  max-height: 100%;
  width: 100%;
  margin: auto;
  transform-origin:center bottom;
  transform:translateY(100%);
  transition-delay: 0.1333s;
  transition-duration: 0.1333s;
  transition-property: color, background-color, border-color, box-shadow, opacity, transform, outline;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1)
}
.basic-modal-wrapper.opened > .basic-modal-window {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.basic-modal-window > .inner {
  display: grid;
  gap: 14px;
  flex: 1;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 12px;
}
.basic-modal-window > .inner .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px 0 14px;
}
@media screen and (min-width: 425px) {
  .basic-modal-window > .inner .header {
    padding: 14px 21px 0 21px;
  }
}
.basic-modal-window-heading {
  flex-grow: 1;
  max-width: 100%;
  padding-right: 35px;
}
.basic-modal-window-close-button {
  appearance: button;
  display: block;
  padding: 5px !important;
  position: fixed;
  top: 6px;
  right: 21px;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  z-index: 10;
  background-color: rgb(241, 236, 228)!important;
  color: black!important;
  border-radius: 8px!important;
  border: 1px solid transparent!important;
}
.basic-modal-window-close-button:hover {
  background-color: rgb(227, 220, 209) !important;
  border: 1px solid rgb(211, 204, 193)!important;
}
.basic-modal-window-close-button span {
  display: block;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  overflow-wrap: break-word;
  stroke: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  width: 18px;
  height: 18px;
}
.basic-modal-window-close-button span svg {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  fill: none;
  color: rgba(0, 0, 0, 0.56);
  stroke: rgba(0, 0, 0, 0.56);
}
.basic-modal-window > .inner .content:not(.active) {
  padding: 0 14px;
}
@media screen and (min-width: 425px) {
  .basic-modal-window > .inner .content:not(.active) {
    padding: 0 21px 14px 21px;
  }
}
.basic-modal-window > .inner .content .body {
  display: flex;
  position: relative;
  overflow: hidden;
}
.basic-modal-window > .inner .content .body > .populated {
  flex: 1;
  min-height: 1px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 580px) {
  .basic-modal-wrapper {
    padding: 76px;
  }
}
@media screen and (min-width: 580px) {
  .basic-modal-window {
    max-width: 480px;
  }
}
@media screen and (max-width: 425px) {
  .basic-modal-window {
    max-width: 320px;
  }
}
