.comments-area a,
.page-content a {
  text-decoration:underline;
  cursor: pointer;
}.comments-area a.hidden,
.page-content a.hidden {
  display:none;
}
.alignright {
  float:right;
  margin-left:1rem
}
.alignleft {
  float:left;
  margin-right:1rem
}
.aligncenter {
  clear:both;
  display:block;
  margin-inline:auto
}
.alignwide {
  margin-inline:-80px
}
.alignfull {
  margin-inline:calc(50% - 50vw);
  max-width:100vw
}
.alignfull,
.alignfull img {
  width:100vw
}
.ap-caption {
  margin-block-end:1.25rem;
  max-width:100%
}
.ap-caption.alignleft {
  margin:5px 20px 20px 0
}
.ap-caption.alignright {
  margin:5px 0 20px 20px
}
.ap-caption img {
  display:block;
  margin-inline:auto
}
.ap-caption-text {
  margin:0
}
.gallery-caption {
  display:block;
  font-size:.8125rem;
  line-height:1.5;
  margin:0;
  padding:.75rem
}
.pagination {
  display:flex;
  justify-content:space-between;
  margin:20px auto
}
.sticky {
  display:block;
  position:relative
}
.bypostauthor {
  font-size:inherit
}
.hide {
  display:none!important
}
.post-password-form {
  margin:50px auto;
  max-width:500px
}
.post-password-form p {
  align-items:flex-end;
  display:flex;
  width:100%
}
.post-password-form [type=submit] {
  margin-inline-start:3px
}
.screen-reader-text {
  clip:rect(1px,1px,1px,1px);
  height:1px;
  overflow:hidden;
  position:absolute!important;
  width:1px;
  word-wrap:normal!important
}
.screen-reader-text:focus {
  background-color:#eee;
  clip:auto!important;
  clip-path:none;
  color:#333;
  display:block;
  font-size:1rem;
  height:auto;
  left:5px;
  line-height:normal;
  padding:12px 24px;
  text-decoration:none;
  top:5px;
  width:auto;
  z-index:100000
}
.post .entry-title a {
  text-decoration:none
}
.post .ap-post-image {
  max-height:500px;
  -o-object-fit:cover;
  object-fit:cover;
  width:100%
}
@media(max-width:991px) {
  .post .ap-post-image {
    max-height:400px
  }
}
@media(max-width:575px) {
  .post .ap-post-image {
    max-height:300px
  }
}
#comments .comment-list {
  font-size:.9em;
  list-style:none;
  margin:0;
  padding:0
}
#comments .comment,
#comments .pingback {
  position:relative
}
#comments .comment .comment-body,
#comments .pingback .comment-body {
  border-block-end:1px solid #ccc;
  display:flex;
  flex-direction:column;
  padding-block-end:30px;
  padding-block-start:30px;
  padding-inline-end:0;
  padding-inline-start:60px
}
#comments .comment .avatar,
#comments .pingback .avatar {
  border-radius:50%;
  left:0;
  margin-inline-end:10px;
  position:absolute
}
body.rtl #comments .comment .avatar,
body.rtl #comments .pingback .avatar,
html[dir=rtl] #comments .comment .avatar,
html[dir=rtl] #comments .pingback .avatar {
  left:auto;
  right:0
}
#comments .comment-meta {
  display:flex;
  justify-content:space-between;
  margin-block-end:.9rem
}
#comments .comment-metadata,
#comments .reply {
  font-size:11px;
  line-height:1
}
#comments .children {
  list-style:none;
  margin:0;
  padding-inline-start:30px;
  position:relative
}
#comments .children li:last-child {
  padding-block-end:0
}
#comments ol.comment-list .children:before {
  content:"↪";
  display:inline-block;
  font-size:1em;
  font-weight:400;
  left:0;
  line-height:100%;
  position:absolute;
  top:45px;
  width:auto
}
body.rtl #comments ol.comment-list .children:before,
html[dir=rtl] #comments ol.comment-list .children:before {
  content:"↩";
  left:auto;
  right:0
}
@media(min-width:768px) {
  #comments .comment-author,
  #comments .comment-metadata {
    line-height:1
  }
}
@media(max-width:767px) {
  #comments .comment .comment-body {
    padding:30px 0
  }
  #comments .children {
    padding-inline-start:20px
  }
  #comments .comment .avatar {
    float:left;
    position:inherit
  }
  body.rtl #comments .comment .avatar,
  html[dir=rtl] #comments .comment .avatar {
    float:right
  }
}
.page-header .entry-title,
.site-footer .footer-inner,
.site-footer:not(.dynamic-footer),
.site-header .header-inner,
.site-header:not(.dynamic-header),
body:not([class*=app-page-]) .site-main {
  margin-inline-end:auto;
  margin-inline-start:auto;
  width:100%
}
@media(max-width:575px) {
  .page-header .entry-title,
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  body:not([class*=app-page-]) .site-main {
    padding-inline-end:10px;
    padding-inline-start:10px
  }
}
@media(min-width:576px) {
  .page-header .entry-title,
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  body:not([class*=app-page-]) .site-main {
    max-width:500px
  }
  .site-footer.footer-full-width .footer-inner,
  .site-header.header-full-width .header-inner {
    max-width:100%
  }
}
@media(min-width:768px) {
  .page-header .entry-title,
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  body:not([class*=app-page-]) .site-main {
    max-width:600px
  }
  .site-footer.footer-full-width,
  .site-header.header-full-width {
    max-width:100%
  }
}
@media(min-width:992px) {
  .page-header .entry-title,
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  body:not([class*=app-page-]) .site-main {
    max-width:800px
  }
  .site-footer.footer-full-width,
  .site-header.header-full-width {
    max-width:100%
  }
}
@media(min-width:1200px) {
  .page-header .entry-title,
  .site-footer .footer-inner,
  .site-footer:not(.dynamic-footer),
  .site-header .header-inner,
  .site-header:not(.dynamic-header),
  body:not([class*=app-page-]) .site-main {
    max-width:1140px
  }
  .site-footer.footer-full-width,
  .site-header.header-full-width {
    max-width:100%
  }
}
.site-header+.app {
  min-height:calc(100vh - 320px)
}
.wysiwyg table:first-child {
  margin-top: 0;
}
.wysiwyg-size-guide {
  scrollbar-gutter: stable;
  margin-bottom: 0;
}
.wysiwyg-size-guide table tbody > tr:nth-child(2n+1) > td, table tbody > tr:nth-child(2n+1) > th {
  background-color: transparent;
}
@media (min-width: 768px) {

  .wysiwyg-size-guide {
    scrollbar-width: none;
  }

  .wysiwyg-size-guide::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 767px) {

  .wysiwyg-size-guide {
    padding-bottom: 1.5rem;
  }
  .wysiwyg-size-guide::-webkit-scrollbar {
    height: 0.125rem;
    width: 0.125rem;
  }

  .wysiwyg-size-guide::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .wysiwyg-size-guide::-webkit-scrollbar-thumb {
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.32);
  }
}
.wysiwyg-size-guide table {
  margin-bottom: 1.5rem;
  display: table !important;
  width: 100% !important;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.wysiwyg-size-guide table:last-child {
  margin-bottom: 0 !important;
}

.wysiwyg-size-guide table tr {
  position: relative;
  display: table-row !important;
}

.wysiwyg-size-guide table td {
  height: 2.5rem !important;
  white-space: nowrap;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}
@media (min-width: 1024px) {

  .wysiwyg-size-guide table td {
    white-space: normal;
  }
}

.wysiwyg-size-guide table td:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
}

.wysiwyg-size-guide table td:hover::after {
  pointer-events: none;
  position: absolute;
  left: -5000px;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 10000px;
  background-color: rgba(233, 227, 218, 1);
  content: '';
}
.wysiwyg-size-guide table tr:first-child td {
  width: 4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.wysiwyg-size-guide table tr td:first-child {
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.wysiwyg-size-guide h6 {
  margin-top: 2.5rem !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.wysiwyg-size-guide h6:first-child {
  margin-top: 0 !important;
}

.wysiwyg-size-guide h6 + p {
  margin-top: 0.5rem !important;
}
.wysiwyg-size-guide p,
.wysiwyg-size-guide span {
  color: rgba(0, 0, 0, 1) !important;
}
.wysiwyg * + ol, .wysiwyg * + p, .wysiwyg * + ul {
  margin-top: 1rem !important;
}

.current-tab-size-guide[data-type='Bra'] .wysiwyg-size-guide td:nth-child(2) {
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.current-tab-converter[data-type='Bra'] .wysiwyg-size-guide {
  padding-bottom: 0 !important;
}
/*Accordion*/
.accordion-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0 solid rgba(0, 0, 0, 0.08);
  border-bottom-width: 1px;
}

.accordion-item.accordion-item--shipping::after {
  content: none;
}

.accordion-item::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
  height: 1px;
  width: 0;
  background-color: rgba(0, 0, 0, 1);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  content: '';
}
.accordion-item[open='true']::after {
  width: 100%;
}
.accordion-item.open::after {
  width: 100%;
}

.accordion-item[open='true'] .accordion-item-icon-open {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion-item.open .accordion-item-icon-open {
  transform: rotate(90deg);
  opacity: 0;
}

.accordion-item[open='true'] .accordion-item-icon-close {
  transform: rotate(180deg);
  opacity: 1;
}
.accordion-item.open .accordion-item-icon-close {
  transform: rotate(180deg);
  opacity: 1;
}
.accordion-item-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.accordion-item-description {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.accordion-item[open='true'] .accordion-item-description {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.accordion-item.open .accordion-item-description {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.accordion-item-icon-open,
.accordion-item-icon-close {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0.75rem !important;
  height: 0.75rem !important;
  color: rgba(0, 0, 0, 1);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.accordion-item-icon-open {
  transform: rotate(0deg);
  opacity: 1;
}

.accordion-item-icon-close {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion-size-guide-ic.accordion-item .accordion-item-icon-open {
  transform: rotate(0deg);
  opacity: 1;
}

.accordion-size-guide-ic.accordion-item .accordion-item-icon-close {
  transform: rotate(90deg);
  opacity: 0;
}

.accordion-size-guide-ic.accordion-item[open='true'] .accordion-item-icon-open {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion-size-guide-ic.accordion-item.open .accordion-item-icon-open {
  transform: rotate(90deg);
  opacity: 0;
}

.accordion-size-guide-ic.accordion-item[open='true'] .accordion-item-icon-close {
  transform: rotate(180deg);
  opacity: 1;
}
.accordion-size-guide-ic.accordion-item.open .accordion-item-icon-close {
  transform: rotate(180deg);
  opacity: 1;
}
/* Special widgets */
