.floating-label {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  left: 12px;
  top: 2px;
  font-size: 12px!important;
  transform: translateY(38%);
  transition: all .3s;
}
.floating-label.active {
  opacity: 1;
  transform: translateY(0);
}
/*
input[type="email"]:not(.form-control-input-special):not(.jkit-form-control){
  background: none;
  border: 1px solid rgb(211, 204, 193)!important;
  border-radius: 8px !important;
  padding: 13px 11px!important;
  text-overflow: ellipsis;
  outline: transparent solid 0!important;
  width: 100%;
  position: relative;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 14px!important;
  line-height: 21px!important;
}
*/
.checkbox-group {
  display: flex;
  position: relative;
  align-items: flex-start;
}
.checkbox-container {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
}
.checkbox-control {
  border-radius: 4px !important;
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  box-sizing: content-box;
  background-color: transparent;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.3, .5, .5, 1);
  appearance: none;
  cursor: pointer;
}
.checkbox-control:checked {
  box-shadow: 0 0 0 .7142857142857143em #000000 inset;
}

.checkbox-control:checked + .check-icon-box {
  opacity: 1;
}

.checkbox-control:focus:not(:focus-visible):before,
.checkbox-control:active:not(:focus-visible):before {
  box-shadow:none;
}
.checkbox-control:focus-visible:before {
  box-shadow:0 0 0 1px #000000 inset,0 0 0 3px #000000;
}

/*Check box warning*/
.checkbox-control.warning {
  box-shadow: 0 0 0 1px #ffdeb3 inset;
}
.checkbox-control.warning:before {
  box-shadow:0 0 0 0 #8F6900 inset,0 0 0 0 #8F6900;
}
.checkbox-control.warning:focus:before,
.checkbox-control.warning:active:before {
  box-shadow:0 0 0 .1rem #8F6900 inset,0 0 0 .3rem #8F6900;
}
.checkbox-control.warning:focus-visible:before {
  box-shadow:0 0 0 1px #8F6900 inset,0 0 0 3px #8F6900;
}
.checkbox-control.warning:checked {
  box-shadow:0 0 0 .7142857142857143em #8F6900 inset;
}

.check-icon-box {
  position: absolute;
  opacity: 0;
  top: calc(50% + 1px);
  left: calc(50% + 1px);
  transform: translate(-50%,-50%);
  transform-origin: center;
  pointer-events: none;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.3, .5, .5, 1);
  color: #ffffff;
}
.check-icon-box span {
  display: block;
  max-height: 100%;
  max-width: 100%;
  min-height: 10px;
  min-width: 10px;
  width: 10px;
  height: 10px;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  stroke: currentColor;
}
.check-icon-box span svg {
  fill: #ffffff;
  display: block;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
}
.checkbox-group label {
  display: block;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 12px!important;
  font-weight: 450!important;
  line-height: 18px!important;
  cursor: pointer;
  padding-left: 10px!important;
  padding-top: 3px!important;
}
.option-radio {
  display: block;
  cursor: pointer;
  transition: all .2s cubic-bezier(.3, .5, .5, 1);
  appearance: none;
  padding: 0!important;
  background-clip: padding-box;
  border-radius: 50% !important;
  background-color: transparent !important;
  border: 1px solid rgb(211, 204, 193) !important;
  margin-top: 2px;
  width: 18px;
  height: 18px;
}
.option-radio:checked {
  background-color: #ffffff !important;
  border: .35em solid #000000 !important;
}
.option-radio:before {
  margin-top: 2px;
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 0 #000000;
  opacity: .3;
  transition: box-shadow .2s cubic-bezier(.3, .5, .5, 1);
}
.option-label {
  cursor: pointer;
  width: 100%;
}
.option-label > .inner {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 5px;
  position: relative;
}
.option-label > .inner p,
.option-label > .inner span {
  margin: 0;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  font-weight: 450;
}
.option-label > .inner p + p {
  color: rgba(0, 0, 0, .56) !important;
}
.option-label > .inner span {
  margin: 0;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  stroke: currentColor;
  transition-property: color,background-color,border-color,box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  color: #000000;
}
.option-label > .inner span svg {
  fill: none;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  color: rgba(0, 0, 0, .56);
}
.option-label.active > .inner span svg {
  color: #000000;
}
.input-wrapper {
  width: 100%;
  position: relative;
}
.select-label {
  position: absolute;
  left: 12px;
  top: 7px;
  pointer-events: none;
  user-select: none;
  max-width: calc(100% - 62px);
  overflow-wrap: break-word;
  line-height: 18px!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 12px!important;
  color: rgba(0, 0, 0, .56) !important;
}
.form-control {
  appearance: none;
  width: 100%!important;
  background-attachment: scroll;
  background-clip: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0)!important;
  border: 1px solid rgb(211, 204, 193) !important;
  border-radius: 8px !important;
  line-height: 21px!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 14px!important;
  font-weight: 450!important;
  color: #000000!important;
  margin: 0;
  min-height: 51px;
  outline: rgb(0, 0, 0) none 0!important;
}
.form-control:focus {
  border-color:#000000;
  box-shadow:0 0 0 1px #000000;
}

.form-control.ng-invalid.ng-touched{
  border-color: rgb(200, 17, 17) !important;
  box-shadow: 0 0 0 1px rgb(200, 17, 17) !important;
}
.form-control-select {
  padding: 21px 30px 6px 11px!important;
}
.form-control-input {
  padding: 13px 11px!important;
}
.invalid-feedback {
  color: rgb(200, 17, 17);
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: -50%;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.invalid-feedback.top {
  bottom: -32%;
}
.control-icon-wrapper {
  position: absolute;
  top: 50%;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 40px;
  height: 43%;
  transform: translateY(-50%);
}
.control-icon-wrapper span {
  display: block;
  max-height: 100%;
  max-width: 100%;
  transition-property: color,background-color,border-color,box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  color: rgba(0, 0, 0, .56);
  min-height: 10px;
  min-width: 10px;
  height: 14px;
  width: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  pointer-events: none;
  stroke: rgba(0, 0, 0, 0.56);
}
.control-icon-wrapper span svg {
  fill: none;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.input-controls-wrapper {
  position: relative;
  display: grid;
  gap: 14px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: row;
  grid-template-columns: minmax(0, 1fr);
}
@media screen and (min-width: 580px) {
  .input-controls-wrapper {
    grid-auto-flow: column;
  }
}
.special-control-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  grid-template-rows: 1fr 0px;
  grid-template-areas: "iconStart prefix field suffix iconEnd accessory" ". . field . . .";
  cursor: text;
  transition: all .2s ease-in-out;
  background-color: transparent;
  color: #000000 !important;
  border: 1px solid rgb(211, 204, 193)!important;
  border-radius: 8px!important;
}
.special-control-wrapper:has(.invalid-feedback) {
  border-color: rgb(200, 17, 17)!important;
  box-shadow: 0 0 0 1px rgb(200, 17, 17);
}
.special-control-wrapper > .field {
  display: grid;
  grid-area: field;
}
.form-control-input-special {
  appearance: none;
  grid-area: field;
  border: 0 !important;
  margin: 0;
  color: inherit!important;
  overflow: visible;
  position: relative;
  width: 100%!important;
  outline: transparent solid 0!important;
  transition: all .2s ease-in-out!important;
  z-index: 1;
  text-overflow: ellipsis;
  text-decoration: inherit!important;
  background: none!important;
  padding: 13px 11px!important;
  box-shadow: none;
  border-radius: 8px 0 0 8px !important;
  line-height: 21px!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 14px!important;
  font-weight: 450!important;
  min-height: 51px;
}
textarea.form-control-input-special {
  height: auto;
  min-height: 100%;
}
textarea.form-control-input-special {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  resize: none;
}
.form-control-input-special-full-overlay {
  position: relative;
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  display: block;
  white-space: pre-wrap;
  visibility: hidden;
  overflow: hidden;
  resize: none;
  padding: 13px 11px!important;
  box-shadow: none;
  border-radius: 8px;
  outline: transparent solid 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}
.special-accessory {
  position: relative;
  align-self: center;
  cursor: default;
  z-index: 1;
  grid-area: accessory;
  display: flex;
  align-items: center;
}
.special-accessory > .inner {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
.special-accessory > .eael-tooltip {
  padding: 0 10px!important;
}
span.eael-tooltip-content {
  display: flex!important;
  align-items: center;
}
.special-button {
  text-align: left;
  color: inherit!important;
  text-decoration: inherit!important;
  transition: all .2s ease-in-out!important;
  cursor: pointer;
  outline: transparent solid 1px!important;
  position: relative;
  display: block;
  overflow: visible;
  appearance: button;
  width: auto !important;
  z-index: 2;
}
.special-button::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  pointer-events: none;
  transition: inherit;
  box-shadow: 0 0 0 0 transparent;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: inherit;
}
.special-button-icon-wrapper {
  display: block;
  color: rgba(0, 0, 0, 0.56);
  height: 18px;
  width: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  overflow-wrap: break-word;
  stroke: rgba(0, 0, 0, 0.56);
  text-align: left;
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
}
.special-button-icon-wrapper svg {
  display: block;
  fill: none;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.special-tooltip {
  line-height: 18px!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 10px!important;
  font-weight: 400!important;
  box-shadow: 0px 20px 100px 0px rgba(119, 119, 147, 0.2)!important;
  width: calc(100% * 3)!important;
  text-align: center!important;
}
.select-phone-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  overflow-wrap: break-word;
}
.select-phone-wrapper > .image-wrapper {
  width: 27px;
  margin-left: 5px;
  margin-right: 5px;
  filter: saturate(1.3) hue-rotate(-5deg);
}
.select-phone-wrapper > .image-wrapper img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.select-phone-wrapper span {
  color: rgba(0, 0, 0, 0.56);
  cursor: default;
  display: block;
  letter-spacing: normal;
  line-height: 21px;
  max-height: 100%;
  max-width: 100%;
  min-height: 10px;
  min-width: 10px;
  overflow-wrap: break-word;
  stroke: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  width: 12px;
  height: 12px;
}
.select-phone-wrapper span svg {
  fill: none;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.phone-country-select {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  outline: none;
  appearance: none;
  border: 0;
  background: transparent!important;
  color: inherit!important;
  font: inherit!important;
  line-height: inherit!important;
  margin: 0!important;
  padding: 0!important;
}
.sms-wrapper {padding-top:14px}
.floating-label.prepended-label{margin-left: 28px;}
.prepended-icon-wrapper {
  position: relative;
  padding-left: 11px;
  grid-area: iconStart;
  z-index: 1;
  align-self: center;
}
.prepended-icon-wrapper span {
  color: rgba(0, 0, 0, 0.56);
  cursor: text;
  display: block;
  height: 18px;
  width: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  overflow-wrap: break-word;
  stroke: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out
}
.prepended-icon-wrapper span svg {
  fill: none;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.special-link-button {
  appearance: button;
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: fit-content!important;
  outline: transparent solid 1px!important;
  text-decoration: underline !important;
  user-select: none;
  color: rgba(0, 0, 0, 0.56)!important;
  background-color: transparent!important;
  text-align: center!important;
}
.radio-accordion-widget-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}
.radio-accordion-widget {
  position: relative;
  width: 100%;
  border: 1px solid rgb(211, 204, 193);
  border-radius: 0;
  min-height: 1px;
}
.radio-accordion-widget:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.radio-accordion-widget:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.radio-accordion-widget:not(:last-of-type) {
  border-bottom:0;
}
.radio-accordion-widget-header {
  position: relative;
  display: grid;
  grid-template-columns: min-content [label] 1fr minmax(0, min-content);
  column-gap: 11px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 14px;
  border-radius: 0;
  transition: all .2s ease-in-out;
}
.radio-accordion-widget-header::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border: 1px solid rgb(211, 204, 193);
  display: block;
  pointer-events: none;
  opacity: 0;
  transition: all .2s ease-in-out;
  border-radius: 0;
}

.radio-accordion-widget-header.active::before {
  opacity: 1;
  border: 1px solid black;
}
.radio-accordion-widget:first-of-type .radio-accordion-widget-header.active::before {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
/*
.radio-accordion-widget:last-of-type .radio-accordion-widget-header.active::before {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
 */
.radio-accordion-input-wrapper {
  display: flex;
  column-gap: 11px;
  align-self: center;
  grid-column: 1 / span 2;
}
.radio-accordion-input-wrapper .radio-button-wrapper {
  position: relative;
}
.radio-label-wrapper {
  grid-column: label / -1;
}
.radio-label-wrapper span {
  display: inline;
  color: rgb(0, 0, 0);
}
.radio-accordion-widget .content {
  overflow: hidden;
  position: relative;
  height: 0px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
  will-change: height, opacity;
}
.radio-accordion-widget .content.active {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.radio-accordion-widget .content > .inner {
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.045);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 14px;
}
.radio-accordion-widget .content > .inner > .centered-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 21px;
  position: relative;
}
.radio-accordion-widget .content > .inner > .centered-content svg.main {
  width: auto;
  height: 52px;
  color: rgba(0, 0, 0, 0.56);
}
@media screen and (min-width: 750px) {
  .radio-accordion-widget .content > .inner > .centered-content svg.main {
    height: 81px;
  }
}
.radio-accordion-widget .content > .inner > .centered-content .description {
  max-width: 350px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.56);
  position: relative;
  text-align: center;
}
.radio-accordion-widget .content > .inner > .centered-content .description p {
  margin: 0;
}
.radio-icon-wrapper > .inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  height: 100%;
}
.radio-icon-wrapper > .inner span {
  width: 18px;
  height: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  display: block;
  stroke: rgba(0, 0, 0, 0.56);
  color: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
}
.radio-icon-wrapper > .inner span svg {
  fill:none;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.checkbox-accordion-widget {
  position: relative;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(211, 204, 193);
  border-radius: 8px;
  min-height: 1px;
}
.checkbox-accordion-widget > .header {
  display: grid;
  grid-template-columns: min-content [label] 1fr;
  column-gap: 11px;
  cursor: pointer;
  position: relative;
  border-radius: 7px;
  padding: 14px;
  transition: all .2s ease-in-out;
}
.accordion-checkbox-wrapper {
  position: relative;
  width: 18px;
  height: 18px;
}
.input-label {
  cursor: pointer;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 12px!important;
  line-height: 21px!important;
  font-weight: 400!important;
  color: rgba(0, 0, 0, 1)!important;
}
.input-label.has-icon {
  padding-left: 10px;
}
.input-label.info {
  color: rgb(36, 23, 0);
}
.input-label span {
  display: inline;
}
.checkbox-accordion-widget .content {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition-property: height,opacity;
  will-change: height,opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
}
.checkbox-accordion-widget.active .content {
  height: auto;
  opacity: 1;
  overflow: visible;
}
.checkbox-accordion-widget .content > .inner {
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.045);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top: 1px solid rgb(211, 204, 193);
}
.checkbox-accordion-widget .content > .inner > .body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
  position: relative;
}
.checkbox-accordion-widget .content > .inner > .body .description {
  display: inline;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, .56);
}
.checkbox-accordion-widget .content > .inner > .body .details {
  display: inline;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 10px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, .56);
}
.icon-link-button {
  position: relative;
  text-decoration: underline !important;
  text-decoration-color: rgba(0, 0, 0, 0.56)!important;
  text-decoration-style: solid!important;
  text-decoration-thickness: auto;
  text-transform: none!important;
  transition-duration: 0.2s!important;
  transition-property: all;
  transition-timing-function: ease-in-out!important;
  color: rgba(0, 0, 0, 0.56)!important;
  cursor: pointer;
}
.icon-link-button:not(:focus-visible) {
  outline-offset: 3px;
  outline: rgba(0, 0, 0, 0) solid 1px;
}
.icon-link-button:hover {
  color: rgba(0, 0, 0, 1) !important;
}
.icon-link-button:focus, .icon-link-button:focus-visible {
  outline: 1px solid transparent;
}
.icon-link-button span {
  color: rgba(0, 0, 0, 0.56);
  display: inline-block;
  width: 14px;
  height: 14px;
  max-height: 100%;
  max-width: 100%;
  min-height: 14px;
  min-width: 14px;
  stroke: rgba(0, 0, 0, 0.56);
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, stroke;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
}
.icon-link-button:hover span {
  stroke: rgba(0, 0, 0, 1);
}
.icon-link-button span svg {
  fill: none;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.link-button-warning {
  position: relative;
  cursor: pointer;
  color: rgb(143, 105, 0)!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 12px!important;
  line-height: 21px!important;
  font-weight: 400!important;
  outline-offset: 3px;
  outline: rgba(0, 0, 0, 0) solid 1px!important;
  text-decoration: underline !important;
  text-decoration-color: rgb(143, 105, 0) !important;
  transition-duration: 0.2s!important;
  transition-property: all;
  transition-timing-function: ease-in-out!important;
}
.link-button-warning:focus,
.link-button-warning:focus-visible {
  outline:2px solid #422e00;
}
.link-button-warning:not(:focus-visible) {
  outline:2px solid transparent
}
.link-button-warning:focus,
.link-button-warning:hover {
  color:#422e00!important;
}
.button-submit-wrapper {
  position: relative;
}
.cool-button {
  appearance: button;
  display: block;
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255)!important;
  border-radius: 8px!important;
  border-width: 1px 1px 1px 1px!important;
  border-color: #720917!important;
  padding: 14px!important;
  outline: transparent solid 1px!important;
  text-transform: none;
  transition-duration: 0.2s!important;
  transition-property: color, background-color, border-color, box-shadow, opacity, transform, outline;
  transition-timing-function: ease-in-out!important;
  user-select: none;
  background-color: #720917!important;
  font-family: var( --global-typography-accent-font-family ), sans-serif!important;
  font-size: var( --global-typography-accent-font-size )!important;
  font-weight: var( --global-typography-accent-font-weight)!important;
}
.cool-button:hover {
  background-color: rgba(114, 9, 23, 0.9)!important;
}
/* Open modal */
.open-modal-window-widget {
  position: relative;
  border: 1px solid rgb(201, 196, 187);
  border-radius: 12px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
}
.open-modal-window-widget:hover {
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.open-modal-window-widget-main-content {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-template-columns:minmax(0, 1fr) minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content);
  grid-template-rows:minmax(0, 1fr);
}
.open-modal-window-widget-button {
  display: block;
  appearance: button;
  padding: 14px!important;
  position: relative;
  cursor: pointer;
  outline: transparent solid 1px!important;
  text-decoration: inherit!important;
  color: inherit!important;
  text-align: left;
  width: 100%;
  transition-duration: 0.2s!important;
  transition-property: all;
  transition-timing-function: ease-in-out!important;
  border-radius: 12px!important;
  background-color: transparent!important;
}
.open-modal-window-widget-button::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  pointer-events: none;
  transition: inherit;
  box-shadow: 0 0 0 0 transparent;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: inherit!important;
}
.open-modal-window-widget .button-content {
  position: relative;
  display: grid;
  grid-template-rows:minmax(0px, 1fr);
  grid-template-columns:minmax(auto, max-content) minmax(0, 1fr) minmax(auto, max-content);
  gap: 14px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(0px, 1fr);
  align-content: center;
  align-items: center;
}
.open-modal-window-widget .button-content .icon-wrapper {
  display: block;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  width: 18px;
  height: 18px;
  stroke: rgba(0, 0, 0, 0.56);
  color: rgba(0, 0, 0, 0.56);
  font-size: 14px;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, stroke;
  transition-timing-function: ease-in-out;
}
.open-modal-window-widget .button-content .icon-wrapper svg {
  display: block;
  fill: none;
  max-height: 100%;
  max-width: 100%;
  width:100%;
}
.open-modal-window-widget .button-content .button-text {
  display: inline;
  font-size: 14px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}
.open-modal-window-widget.has-drop-down .meta-dropdown {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 0.2s;
  will-change: height,opacity;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
  position: relative;
}
.open-modal-window-widget.has-drop-down.expanded .meta-dropdown {
  height: auto;
  opacity: 1;
}
.meta-dropdown > .meta-dropdown-panel {
  position: relative;
  padding: 0 14px 14px 14px;
  border-radius: 12px;
}
.meta-dropdown-list {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-rows:minmax(0px, 1fr);
  grid-template-columns: minmax(0, 1fr);
  row-gap: 14px;
}
.meta-dropdown-list-item {
  position: relative;
  display: grid;
  grid-template-columns:minmax(auto, max-content) minmax(0, 1fr);
  grid-template-rows:minmax(0px, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-rows: minmax(0px, 1fr);
  gap: 14px;
  align-content: center;
  align-items: center;
}
.meta-dropdown-list-item .icon-wrapper {
  display: block;
  position: relative;
  height: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  stroke: rgba(0, 0, 0, 0.56);
  color: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  width: 18px
}
.meta-dropdown-list-item .icon-wrapper svg {
  display: block;
  fill: none;
  max-height: 100%;
  max-width: 100%;
  width:100%;
}
.meta-dropdown-list-item .text-wrapper {
  display: inline;
  font-size: 14px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 21px;
  font-weight: 450;
  color: rgb(0, 0, 0);
}
.dropdown-meta-heading {
  position: relative;
}
.dropdown-meta-heading > .dropdown-meta-heading-title {
  display: inline;
  font-size: 14px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 21px;
  color: rgb(0, 0, 0);
}
.open-modal-window-widget.has-drop-down .dropdown-meta-heading {
  display: none;
}
.open-modal-window-widget.has-drop-down.active .dropdown-meta-heading {
  display: block;
}
.open-modal-window-widget.has-drop-down .dropdown-icon-wrapper {
  display: none;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  width: 18px;
  height: 18px;
  stroke: rgba(0, 0, 0, 0.56);
  color: rgba(0, 0, 0, 0.56);
  font-size: 14px;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, stroke, transform;
  transition-timing-function: ease-in-out;
  transform: rotate(0deg);
}
.open-modal-window-widget.has-drop-down.expanded .dropdown-icon-wrapper {
  transform: rotate(180deg);
}
.open-modal-window-widget.has-drop-down.active .dropdown-icon-wrapper {
  display: block;
}
.open-modal-window-widget.has-drop-down.active .icon-wrapper:not(:first-child) {
  display: none;
}

.open-modal-window-widget.has-drop-down.active .button-text {
  display: none;
}
.dropdown-icon-wrapper svg {
  display: block;
  fill: none;
  max-height: 100%;
  max-width: 100%;
  width:100%;
}
.special-separator-widget {
  position: relative;
  display: none;
  padding: 14px 0;
}
.special-separator-widget > div {
  position: relative;
  width: 1px;
}
.special-separator-widget > div::before {
  content: '';
  display: block;
  height: 100%;
  border-color: rgb(201, 196, 187);
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.open-modal-window-widget.has-drop-down.active .special-separator-widget {
  display: block;
}
.action-button-widget {
  position: relative;
  appearance: button;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: transparent solid 1px!important;
  background-color: transparent!important;
  padding: 14px!important;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  border: none!important;
  transition-duration: 0.2s!important;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
.action-button-widget::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 1;
  display: block;
  pointer-events: none;
  transition: inherit;
  box-shadow: 0 0 0 0 transparent;
  border-radius: inherit;
}
.action-button-widget > .action-icon-wrapper {
  display: block;
  height: 18px;
  width: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  stroke: rgb(0, 0, 0);
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
}
.action-button-widget > .action-icon-wrapper svg {
  display: block;
  fill: none;
  max-height: 100%;
  max-width: 100%;
  width:100%;
}
.action-delete-button-widget {
  position: relative;
  appearance: button;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: transparent solid 1px!important;
  background-color: transparent!important;
  padding: 0!important;
  text-decoration: inherit;
  color: inherit;
  border: none!important;
  border-radius: 12px!important;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  min-height: 50px;
  min-width: 50px;
}
.action-delete-button-widget::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 1;
  display: block;
  pointer-events: none;
  transition: inherit;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 12px!important;
}
.action-delete-button-widget .action-icon-wrapper {
  display: block;
  height: 18px;
  width: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  color: rgb(191, 16, 16);
  stroke: rgb(191, 16, 16);
}
.action-delete-button-widget .action-icon-wrapper svg {
  display: block;
  fill: none;
  max-height: 100%;
  max-width: 100%;
  width:100%;
}
.open-modal-window-widget.has-drop-down .action-button-widget,
.open-modal-window-widget.has-drop-down .action-delete-button-widget{
  display: none;
}
.open-modal-window-widget.has-drop-down.active .action-button-widget,
.open-modal-window-widget.has-drop-down.active .action-delete-button-widget{
  display: flex;
}
/* Date Time*/
.date-time-widget-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0,1fr);
  gap: 14px;
}
.date-widget {
  position: relative;
  padding: 14px;
  border: 1px solid rgb(211, 204, 193);
  border-radius: 8px;
  background-color: rgb(241, 236, 228);
  color: rgba(0, 0, 0, 1);
}
.date-widget > .inner {
  position: relative;
}
.date-widget-buttons-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7,minmax(2.5rem,1fr));
  position: absolute;
  right: 0;
  width: 100%;
}
@media screen and (min-width: 580px) {
  .date-widget-buttons-wrapper {
    grid-template-columns: repeat(7,minmax(3.5rem,1fr));
  }
}
.date-widget-button {
  appearance: button;
  display: flex;
  justify-content: center;
  padding: 9px!important;
  margin: 0!important;
  border: 0!important;
  border-radius: 8px!important;
  background: transparent!important;
  color: inherit!important;
  font: inherit!important;
  overflow: visible;
}
.date-widget-button:hover {
  background-color: rgb(235, 227, 215)!important;
}
.date-widget-button.button-prev {
  grid-column: 1;
}
.date-widget-button.button-next {
  grid-column: 7;
}
.date-widget-button-icon-wrapper {
  display: block;
  max-height: 100%;
  max-width: 100%;
  min-height: 14px;
  min-width: 14px;
  overflow-wrap: break-word;
  stroke: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  width: 14px;
  height: 14px;
}
.date-widget-button-icon-wrapper svg {
  display: block;
  fill: none;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.date-widget table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /*border: 1px solid rgb(211, 204, 193);*/
  margin: 0!important;
}
.date-widget table caption {
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 14px!important;
  font-weight: 400!important;
  line-height: 1!important;
  padding: 9px;
}
.date-widget table tbody > tr:nth-child(2n+1) > td, .date-widget table tbody > tr:nth-child(2n+1) > th {
  background-color: transparent!important;
}
.date-widget table tbody tr:hover > td, .date-widget table tbody tr:hover > th {
  background-color: transparent!important;
}
.date-widget table tr {
  display: grid;
  grid-template-columns: repeat(7,minmax(2.5rem,1fr));
  grid-template-rows: 35px;
  width: 100%;
}
@media screen and (min-width: 580px) {
  .date-widget table tr {
    grid-template-columns: repeat(7,minmax(3.5rem,1fr));
  }
}
.date-widget table tr:not(:first-child) {
  margin-top: 3px;
}
.date-widget table th {
  padding: 9px!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 12px!important;
  line-height: 21px!important;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border:0!important;
}
.date-widget table th:not(.active) {
  font-weight: 400!important;
  color: rgba(0, 0, 0, 0.56)!important;
}
.date-widget table th:first-child {
  margin-left: 0;
}
.date-widget table th:last-child {
  margin-right: 0;
}
.date-widget table td {
  padding: 0!important;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border:0!important;
  font-family: var(--global-typography-text-font-family), sans-serif!important;
  font-size: 12px!important;
  line-height: 21px!important;
}
.date-widget table td:not(.active) {
  font-weight: 400!important;
  color: rgba(0, 0, 0, 0.56)!important;
}
.date-widget table td:first-child {
  margin-left: 0;
}
.date-widget table td:last-child {
  margin-right: 0;
}
.date-widget-date-button {
  appearance: button;
  position: relative;
  padding: 0!important;
  margin: 0!important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  border: 0!important;
  border-radius: 8px!important;
  background: transparent!important;
  color: rgb(0,0,0)!important;
  font: inherit!important;
  overflow: visible;
  cursor: pointer;
}
.date-widget-date-button.outline {
  border: 1px solid rgb(211, 204, 193)!important;
}
.date-widget-date-button:hover {
  background-color: hsla(0, 0%, 50%, .071)!important;
}
.date-widget-date-button.disabled {
  color: rgba(0, 0, 0, 0.56)!important;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  user-select: none;
}
.date-widget-button.disabled {
  cursor: default;
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
.date-widget-date-button.active {
  background-color: rgb(0,0,0)!important;
  color: #ffffff!important;
  border: 1px solid rgb(0,0,0)!important;
  /*outline: 1px solid rgb(0,0,0)!important;*/
}
.date-widget-date-button.active:hover {
  background-color: rgb(0,0,0)!important;
}
.time-widget {
  display: grid;
}
.time-widget > .inner {
  position: relative;
}
.time-widget label {
  position: absolute;
  left: 12px;
  top: 7px;
  pointer-events: none;
  user-select: none;
  max-width: calc(100% - 62px);
  font-size: 12px;
  font-weight: 450;
  letter-spacing: normal;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.56);
}
.time-widget label span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.time-widget #time-widget-time-select {
  appearance: none;
  background: transparent;
  border: 1px solid rgb(211, 204, 193);
  border-radius: 8px;
  outline: none;
  width: 100%;
  min-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 21px 30px 6px 11px;
  transition: box-shadow .2s ease-in-out,border .2s ease-in-out;
  cursor: pointer;
}
.time-widget-select-button {
  position: absolute;
  right: 1px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 40px;
  height: 43%;
  transform: translateY(-50%);
}
.time-widget-select-button span {
  display: block;
  color: rgba(0, 0, 0, 0.56);
  height: 12px;
  width: 12px;
  max-height: 100%;
  max-width: 100%;
  min-height: 12px;
  min-width: 12px;
  overflow-wrap: break-word;
  pointer-events: none;
  stroke: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
}
.time-widget-select-button span svg {
  display: block;
  max-height: 100%;
  max-width: 100%;
  fill: none;
  width: 100%;
}
.button-content-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  gap: 5px;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
}
.button-content-wrapper .button-content-icon {
  color: rgba(0, 0, 0, 1);
  display: block;
  height: 18px;
  width: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 18px;
  min-width: 18px;
  overflow-wrap: break-word;
  pointer-events: none;
  stroke: rgb(0, 0, 0);
  text-align: center;
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, opacity, transform, outline;
  transition-timing-function: ease-in-out;
}
.button-content-wrapper .button-content-icon svg {
  fill: none;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.button-content-wrapper.loading .button-content-icon {
  opacity: 0;
  scale: .8;
}
.button-content-wrapper p {
  margin: 0;
  opacity: 1;
}
.button-content-wrapper.loading p {
  opacity: 0;
}
.button-loading-wrapper {
  position: absolute;
  opacity: 0;
  scale: 0;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
  transform-origin: left top;
  transition-delay: 0.1333s;
  transition-duration: 0.1333s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
}
.button-content-wrapper.loading .button-loading-wrapper {
  opacity: 1;
  scale: 1;
}

.button-loading-wrapper > div {
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 18px;
  height: 18px;
  min-height: 18px;
  min-width: 18px;
  max-height: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, transform, outline;
  transition-timing-function: ease-in-out;
  animation: shownIn .5s ease-in-out, spin .5s linear infinite;
}
.button-loading-wrapper > div svg {
  fill: rgb(0, 0, 0);
  display: block;
  max-width: 100%;
  max-height: 100%;
  transform: scale(0);
}

.button-content-wrapper.loading .button-loading-wrapper > div svg {
  transform: scale(1);
}
@keyframes spin {
  from {
    transform:rotate(0);
  }
  to {
    transform:rotate(360deg);
  }
}
@keyframes shownIn {
  from {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.popup-widget {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 1000;
  transition-property: opacity, height, transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);
  transform: translate3d(42%, 100%, 0);
}
.popup-widget.active {
  opacity: 1;
  height: auto;
  overflow: visible;
  transform: translate3d(42%, -114%, 0);
}
.popup-widget > .inner {
  position: relative;
  background-color: rgb(241, 236, 228);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 21px;
  font-weight: 450;
  min-width: 50px;
  border-radius: 8px;
}
.popup-widget > .inner::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: calc(50% - 12px);
  display: block;
  z-index: 1;
  background-color: rgb(241, 236, 228);
  width: 25px;
  height: 25px;
  border: 1px solid rgb(211, 204, 193);
  border-radius: 8px;
  transform: rotate(45deg);
}
.popup-widget > .inner::after {
  content: "";
  border-radius: inherit;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px -0.5px,
  rgba(0, 0, 0, 0.08) 0px 2px 4px -1px,
  rgba(0, 0, 0, 0.08) 0px 3px 6px -1.5px,
  rgba(0, 0, 0, 0.06) 0px 8px 16px -6px,
  rgba(0, 0, 0, 0.06) 0px 24px 40px -12px,
  rgba(0, 0, 0, 0.06) 0px 32px 48px -12px,
  rgba(0, 0, 0, 0.09) 0px -0.5px 1.5px 0px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
}
.popup-widget-content-wrapper {
  position: relative;
  z-index: 20;
  background-color: rgb(241, 236, 228);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  overflow: hidden;
  padding: 14px;
}
.popup-widget-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.popup-widget-text-wrapper {
  position: relative;
  padding: 14px;
  max-width: 200px;
}
.popup-widget-text-wrapper p {
  margin: 0!important;
  font: inherit;
  overflow-wrap: break-word;
}
.popup-widget-close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 6px 6px 0 0;
}
