.checkout-section {
  display: grid;
  grid-template-areas:"main order-summary";
  grid-template-columns: 50% 50%;
}

.checkout-section-payment {
  grid-area:main;
  display:flex;
  justify-content: flex-end;
  height:100%;
  /*background-color: transparent;*/
  background-color: rgb(243, 241, 239);
}

.checkout-section-payment .payment-container {
  height:100%;
  width:100%;
  /*max-width:78%;*/
  max-width: 580px;
  padding:38px;
  display:grid;
  grid-template-rows:auto auto 1fr auto;
  grid-template-columns:1fr;
  grid-template-areas:"header" "buyer-journey" "main-content-primary" "footer";
  border-right: 1px solid rgb(211, 204, 193);
}
.checkout-main {
  grid-area:main-content-primary;
}
.checkout-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-form-body {
  position: relative;
}
.first-section {
  padding: 0;
  /*background-color: rgb(241, 236, 228);*/
}
.express-checkout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}
.first-section-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  position: relative;
}
.product-list, .product-list-wrapper {
  transition-property:all;
  transition-duration:.15s;
  transition-timing-function:ease-in-out;
  will-change:max-height,height,opacity;
}
.product-list-wrapper {
  position:relative;
  z-index:99;
}
.product-list-wrapper > .inner {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0,1fr);
  column-gap: 1.4rem;
  row-gap: 1.4rem;
}
.product-list-heading {
  display: block;
}
.product-list-heading > .heading-title {
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  font-weight: var(--global-typography-text-font-weight);
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}
.product-list-items-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 40rem;
  min-height: 5rem;
}
.product-list-items {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  column-gap: 0.9rem;
  row-gap: 0.9rem;
}
.product-list-item {
  position: relative;
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-flow: column;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: minmax(auto, max-content) 1fr minmax(auto, max-content);
  grid-template-rows:minmax(0, 1fr);
}
.product-list-item-image {
  display: block;
  max-width: 64px;
  max-height: 64px;
}
.product-list-item-image img {
  border-radius: 8px;
}
.product-list-item-description {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.product-list-item-price span {
  color: rgba(0, 0, 0, 0.56);
}
.product-list-item-button {
  padding:14px;
  border-radius: 8px;
  border: 1px solid rgba(211, 204, 193, 1);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.domestic-shipping {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas:"Icon Heading ControlCollapsible ControlDismiss" ".    Content Content            Content       ";
  padding: 17px;
  color: #1c1c1c;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
}
.domestic-shipping-icon {
  color: #707070;
  margin-right: 16px;
  grid-area: Icon;
}
.domestic-shipping-icon span {
  max-height: 100%;
  max-width: 100%;
  display: block;
}
.domestic-shipping-heading {
  grid-area: Heading;
}
.domestic-shipping-content {
  grid-area: Content;
  font-size: 14px;
}
.spacer {
  height: 21px;
}
.app-element-express-checkout {
  position: relative;
  padding-top: 17px;
}
.express-checkout-heading {
  width: 100%;
  text-align: center;
}
.express-checkout-heading > .heading-title {
  font-size: 10px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 21px;
  margin: 0;
  color: rgba(0, 0, 0, 0.56);
}
.checkout-options {
  padding: 17px 0 0 0;
}
.checkout-options > .inner {
  display: grid;
}
.express-checkout-wallets-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: auto;
  transition: opacity .2s ease-out;
  opacity: 1;
}
.wallet-button {
  height: 48px;
  border-radius: 8px;
  outline: .2rem solid transparent !important;
  outline-offset: .1rem !important;
  transition-property: outline, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.3333% - 7.33333px);
  border: 1px transparent solid;
  color: #fff;
  font-family: var(--global-typography-text-font-family),sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 16px;
  text-decoration: none;
  container-type: inline-size;
  cursor: pointer;
}
.shop-pay-button {
  background-color: #592ff4;
}
.shop-pay-button:hover {
  background-color:#390ced;
}
.shop-pay-button svg {
  fill: #fff;
  width: 47px;
  height: 20px;
  pointer-events: none;
}
.pay-pal-button {
  background-color: #ffc439;
}
.pay-pal-button:hover {
  background-color: #f1b323;
}
.pay-pal-button svg {
  height: 40px;
}
.pay-pal-button svg.wordmark .pay {
  fill: #003087;
}
.pay-pal-button svg.wordmark .pal {
  fill: #009cde;
}
.google-pay-button {
  background-color: #000000;
}
.google-pay-button:hover {
  background-color: #2f2f2f;
}
.google-pay-button > .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}
.google-pay-button > .content > .button-logo {
  margin-top: 6px;
}
.button-logo svg {
  fill: none;
  display: inline-block;
  width: 60px;
}
.alternative {
  width: 100%;
  padding:17px 0 26px 0;
}
.alternative > .inner {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
}
.alternative > .inner::before, .alternative > .inner::after {
  content: "";
  flex-grow: 1;
  border: 1px none rgb(211, 204, 193);
  border-bottom-style: solid;
  width: unset;
  height: unset;
}
.alternative > .inner::before {
  content: "";
  display: block;
}
.alternative > .inner > .content {
  margin: 0 14px;
}
.alternative > .inner > .content p {
  margin: 0;
  text-align: center;
  position: relative;
}
.alternative > .inner > .content p span {
  display: inline;
  color: rgba(0, 0, 0, 0.56);
  font-size: 14px;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.contact-heading .heading-title {
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}
.contact-sign-in-button {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.email-group {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 22px;
  padding-top: 14px;
}
.contact-information-text-field-container {
  position: relative;
}
/* Special widgets */
/**/
.delivery-section {
  padding: 32px 0 0 0;
}
.delivery-section > .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 16px;
}
.delivery-heading > .heading-title {
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  font-weight: 450;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}
.delivery-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 30px;
  row-gap: 30px;
  position: relative;
}
delivery-options, .delivery-info, .pickup-point {
  position: relative;
}
delivery-options > .inner {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: nowrap;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.delivery-legend {
  display: block;
  border-width: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.ship-to-address {
  border: 1px solid rgb(211, 204, 193);
  border-top-right-radius: 8px;
  border-top-left-radius:8px;
}
.ship-to-pickup-point {
  border: 1px solid rgb(211, 204, 193);
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius:8px;
}
.ship-to-address > .option {
  display: grid;
  grid-template-columns: min-content [label] 1fr;
  column-gap: 10px;
  position: relative;
  cursor: pointer;
  border-top-right-radius: 7px;
  border-top-left-radius:7px;
  padding: 14px;
  transition: all .2s;
}
.ship-to-pickup-point > .option {
  display: grid;
  grid-template-columns: min-content [label] 1fr;
  column-gap: 10px;
  position: relative;
  cursor: pointer;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius:7px;
  padding: 14px;
  transition: all .2s;
}
.ship-to-address > .option::before {
  display: block;
  pointer-events: none;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: 0;
  border-radius: 8px 8px 0 0;
  content: "";
  position: absolute;
  z-index: 1;
  border: 1px solid rgb(211, 204, 193);
  transition: all .2s;
}
.ship-to-pickup-point > .option::before {
  display: block;
  pointer-events: none;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: 0;
  border-radius: 0 0 8px 8px;
  content: "";
  position: absolute;
  z-index: 1;
  border: 1px solid rgb(211, 204, 193);
  transition: all .2s;
}
.ship-to-address > .option.active::before {
  display: block;
  pointer-events: none;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: 1;
  border-radius: 8px 8px 0 0;
  content: "";
  position: absolute;
  z-index: 1;
  border: 1px solid rgb(0, 0, 0);
  transition: all .2s;
}
.ship-to-pickup-point > .option.active::before {
  display: block;
  pointer-events: none;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: 1;
  border-radius: 0 0 8px 8px;
  content: "";
  position: absolute;
  z-index: 1;
  border: 1px solid rgb(0, 0, 0);
  transition: all .2s;
}
.radio-input-wrapper {
  position: relative;
}
/* Widgets */

.delivery-info > .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
}
.shippingAddressForm {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 26px;
}

.privacy-policy-text-block {
  position: relative;
  margin: 0;
  padding-top: 14px;
  line-height: 18px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.56);
}
.privacy-policy-text-block > .inner {
  display: block;
}
.shippingMethodForm {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
}
.shipping-method-form-container {
  position: relative;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.56);
  background-color: rgb(235, 227, 215);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
.shipping-method-form-container > * {
  margin: 0 !important;
}
.pickup-point > .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.pickup-point > .inner .delivery-heading {
  margin-bottom: 3px;
}
.form-outline-button {
  appearance: button;
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
  outline: transparent solid 1px;
  box-shadow: rgb(211, 204, 193) 0px 0px 0px 1px inset;
  color: black;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  overflow: visible;
  padding: 14px;
  margin: 0;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, opacity, transform, outline;
  transition-timing-function: ease-in-out;
  user-select: none;
  outline-offset: 1px;
  border: 0;
  border-radius: 8px;
}

.delay-dispatch > .inner {
  margin-bottom: 26px;
}
.text-sm-centered {
  text-align: center;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.56);
}
.form-group-column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
}
.payment-section {
  position: relative;
  padding-top: 32px;
  color: rgb(0, 0, 0);
  /*background-color: rgb(241, 236, 228);*/
}
.payment-section > .inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
  position: relative;
}
.small-block-column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.small-block-column.has-description p {
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.56);
}
.payment-details {
  position: relative;
}
.payment-details > .inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 26px;
}
.payment-options-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.credit-cards-wrapper {
  margin-bottom: -1px;
  margin-top: -1px;
  cursor: default;
}
.credit-cards-wrapper > .inner {
  display: flex;
  align-items: center;
  gap: 5px;
}
span.credit-card {
  display: flex;
  width: 38px;
}
.payment-method-details {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
}
.billingAddressDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 14px;
  padding-bottom: 14px;
}
.radio-icon-wrapper > .inner svg {
  width: 38px;
  height: 100%;
  display: block;
  fill: none;
}
.radio-icon-wrapper > .inner svg.paypal {
  width: 48px;
}
.remember-me-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.spacer-14 {
  height: 14px;
}

.secure-encrypted-wrapper {
  position: relative;
  padding-top: 11px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: minmax(0px, 1fr) minmax(auto, max-content);
  grid-template-rows: minmax(0px, 1fr);
}
.secure-encrypted-wrapper > .content {
  display: grid;
  align-content: center;
  align-items: center;
  gap: 5px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns:minmax(auto, max-content) minmax(0, 1fr);
  grid-template-rows:minmax(0, 1fr);
}
.secure-encrypted-wrapper > .content span {
  display: block;
  color: rgba(0, 0, 0, 0.56);
  max-height: 100%;
  max-width: 100%;
  min-height: 10px;
  min-width: 10px;
  overflow-wrap: break-word;
  stroke: rgba(0, 0, 0, 0.56);
  text-transform: none;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, stroke;
  transition-timing-function: ease-in-out;
  width: 12px;
  height: 12px;
}
.secure-encrypted-wrapper > .content span svg {
  display: block;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  fill: none;
}
.secure-encrypted-wrapper > .content p {
  color: rgba(0, 0, 0, 0.56);
  margin: 0;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
.secure-encrypted-wrapper .icon-wrapper svg {
  fill: rgba(0, 0, 0, 0.56);
  width: 44px;
  height: 17px;
}
.agreement-wrapper {
  position: relative;
  width: 100%;
}
.agreement-wrapper > .inner {
  display:grid;
  grid-template-areas: "Icon Content ControlCollapsible ControlDismiss";
  grid-template-columns: auto 1fr auto auto;
  padding: 17px;
  color: rgb(36, 23, 0);
  overflow-wrap: break-word;
  text-transform: none;
  word-break: break-word;
  border: 1px solid #ffdeb3;
  border-radius: 8px;
  background-color: #fff5eb;
}
.agreement-wrapper > .inner .icon-wrapper {
  grid-area: Icon;
  margin-bottom: 2px;
  margin-right: 11px;
  margin-top: 2px;
  max-width: 18px;
}
.agreement-wrapper > .inner .icon-wrapper.warning {
  color: rgb(143, 105, 0);
}
.agreement-wrapper > .inner .icon-wrapper span {
  display: block;
  height: 18px;
  width: 18px;
  max-height: 100%;
  max-width: 100%;
  min-height: 0px;
  min-width: 0px;
  stroke: rgb(143, 105, 0);
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color, box-shadow, stroke;
  transition-timing-function: ease-in-out;
}
.agreement-wrapper > .inner .icon-wrapper span svg {
  display: block;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  fill: none;
}
.agreement-wrapper > .inner .content {
  grid-area: Content;
  position: relative;
  display: flex;
}
.payment-footer {
  grid-area: footer;
  margin: 46px 0 0 0;
  border-top: 1px solid rgb(211, 204, 193);
}
.payment-footer > .inner {
  width: 100%;
  max-width: 1060px;
  padding: 14px 0 0 0;
}
.payment-footer > .inner ul {
  position: relative;
  display: flex;
  gap: 14px;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}
.payment-footer > .inner ul li {
  position: relative;
  display: block;
}
/* Order Summary */
.order-summary {
  grid-area: order-summary;
  color: rgb(0, 0, 0);
  background-color: rgb(233, 227, 218);
}
.order-summary > .inner {
  position: sticky;
  right: auto;
  left: auto;
  top: 0;
  bottom: 0;
  padding: 38px;
  width: 100%;
  max-width: 480px;
}
.section-order-summary {
  position: relative;
}
.section-order-summary > .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 21px;
}
.products-order-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 21px;
  position: relative;
}
.purchasing-as-gift > .inner {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(0,1fr);
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  will-change: max-height,height,opacity;
  position: relative;
  z-index: 99;
}
.heading-description-widget {
  position: relative;
  display:grid;
  gap: 10px;
  grid-template-columns: minmax(0,1fr);
}
.heading-description-widget .heading-title {
  margin: 0;
  font-size: 14px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  position: relative;
  text-transform: uppercase;
}
.heading-description-widget .heading-description {
  display: inline;
  font-size: 14px;
  font-family: var(--global-typography-text-font-family), sans-serif;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}
.custom-button {
  appearance: button;
  display: inline-block;
  padding: 14px!important;
  position: relative;
  text-align: left;
  text-transform: none;
  outline: transparent solid 1px;
  outline-offset: 1px;
  background-color: transparent!important;
  border: none!important;
  border-radius: 8px!important;
  transition-duration: 0.2s!important;
  transition-property: color, background-color, border-color, box-shadow, opacity, transform, outline;
  transition-timing-function: ease-in-out;
  user-select: none;
}
.remove-button {
  background-color: rgb(200,17,17)!important;
}
.remove-button:hover {
  background-color: rgb(246, 35, 35) !important;
}
/*=============================== Media =============================================*/
@media screen and (min-width: 580px) {
  .checkout-main-container {
    gap: 2rem;
  }
}
